@{
    ViewData["Title"] = "Trang chủ nhân viên giao hàng";
    Layout = "~/Areas/DeliveringStaff/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/home.css" />

<div class="container">
    <h2 class="header">Trang Chủ Nhân Viên Giao Hàng</h2>
    <p>Chào mừng đến với hệ thống quản lý giao hàng. 
                Các chức năng sau:</p>
    <ul class="function-list">
        <li><a href="/DeliveringStaff/Home/OrderDetails" class="function-link">Xem Danh Sách đơn hàng</a></li>

        <li><a href="/DeliveringStaff/Home/UpdateStatus" class="function-link">Cập nhật trạng thái giao hàng</a></li>

        <li><a href="#" class="function-link">Thực hiện các chức năng khác do Admin phân quyền</a></li>
    </ul>
</div>
