@{
    Layout = "_LayoutPrice";
}

<div class="row text-center my-4">
    <div class="col">
        <div class="pricing-footer">
            <a href="https://localhost:7040/Order/Create" class="gem-button gem-orange">Đặt ngay</a>
        </div>
    </div>
</div>
